<h1>Bienvenido al administrador de Wenty!</h1>

<br />
Ya podés empezar a disfrutar de las ventajas de Wenty y ver como tu negocio crece exponencialmente!
<br />
Es muy sencillo. En la parte superior encontrarás el menú desde el cual vas a poder acceder a las diferentes opciones del sistema.
