@model Cuponera.Entities.offer

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Ofertas</h4>
    <hr />

    <div class="item-description">
        <b>Nombre:</b> @Html.DisplayFor(model => model.Title)
    </div>

    <div class="item-description">
        <b>Imagen:</b> @Html.DisplayFor(model => model.ImagePath)
    </div>

    <div class="item-description">
        <b>Estado:</b>
        @if (Model.DeletionDatetime == null)
        {
            <img src="../../Images/tick.ico" alt="active" class="active" />

        }
        else
        {
            <img src="../../Images/x.ico" alt="inactive" class="inactive" />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdOffer }) |
    @Html.ActionLink("Volver", "Index")
</p>
