<div class="group-control-box">
    @Html.CheckBox("viewAll", true, new { id = "viewAll" }) Ver todos
</div>

<script type="text/javascript">
    $(function () {
        $('.group-control-box').click(function () {
            $input = $(this).find('input');
            $input.prop('checked', !$input.prop('checked'));
        });
    });
</script>