<fieldset class="filters col-sm-12">
    <legend>Filtros</legend>
</fieldset>

<script type="text/javascript">
    function updateCurrentState() {
        $('.filters input, .filters select').each(function (key, input) {
            var $input = $(input);
            if ($input.prop('type') === 'button') { return false; }

            current_state[$input.prop('id')] = ['checkbox', 'radio'].indexOf($input.prop('type')) > -1 ? $input.is(':checked') : $input.val();
        });
    }

    function buildCurrentStateQS() {
        var qs = '';
        for (var key in current_state) {
            if (current_state[key].toString().length > 0) {
                qs += key + '=' + current_state[key] + '&';
           }
        }

        return qs.length > 0 ? qs.substr(0, qs.lastIndexOf('&')) : qs;
    }

    function reload() {
        redirect(globals.controller + '?' + buildCurrentStateQS());
    }

    function resizeFiltersForm() {
        var window_width = $(window).width();
        var brothers = $('.table');
        var __min_filters_size__ = globals.min_filters_size || 376;
        var others_size = 0;
        $(brothers).each(function(key, elem) {
            others_size += $(elem).width();
        });

        if (window_width - others_size - 30 < __min_filters_size__) {
            $('.filters').addClass('full-width');
        } else {
            $('.filters').removeClass('full-width');
        }
    }

    function getSourceData(args) {
        callServer({
            method: 'GET',
            includeAntiForgeryToken: false,
            controller: args.controller,
            action: args.action,
            success: function(data){
                args.success(data, args.element, args.include_all, args.default);
            }
        });
    }

    function fillSelect(data, $element, include_all, default_value) {
        if (include_all) {
            $option = $('<option></option>').prop('value', 0)
                .html('Todos');
            $element.append($option);  
        }

        $(data).each(function(key, elem) {
            $option = $('<option></option>').prop('value', elem.id)
                .html(elem.name);

            if (default_value > 0 && elem.id == default_value) {
                $option.prop('selected', true);
            }
            $element.append($option);
        });
    }





    var render = {
        text: function(filter) {
            // label: input
            var $filter_group = $('<div></div>');
            $filter_group.append(
                $('<span></span>')
                    .html(filter.label + ':')
                    .addClass('filter-label-pre')
                    .addClass('float-left')
            );
            
            $input = $('<input>').prop('type', filter.controlType)
                                .prop('id', filter.controlId)
                                .addClass('float-right');

            if (filter.controlDefaultValue) { 
                $input.val(filter.controlDefaultValue); 
            }
            $filter_group.append($input)
                        .append(
                            $('<div></div>').css('clear', 'both')
                        );

            return $filter_group;
        },
        select: function(filter) {
            // label: select
            var $filter_group = $('<div></div>');
            $filter_group.append(
                $('<span></span>')
                    .html(filter.label + ':')
                    .addClass('filter-label-pre')
                    .addClass('float-left')
            );

            $select = $('<select></select>').prop('id', filter.controlId)
                                            .addClass('float-right');
            getSourceData({
                include_all: filter.source.include_all,
                default: filter.controlDefaultValue,
                controller: filter.source.controller,
                action: filter.source.action,
                success: fillSelect,
                element: $select
            });

            $filter_group.append($select)
                        .append(
                            $('<div></div>').css('clear', 'both')
                        )
            if (!filter.visible && filter.visible != undefined) {
                $filter_group.addClass('hidden');
            }
            return $filter_group;
        },

        other: function(filter) {
            // input label
            var $filter_group = $('<div></div>');

            $label = $('<label></label>')
                        .addClass('filter-label-post')
                        .html(filter.label)
                        .prop('for', filter.controlId);

            $input = $('<input>').prop('type', filter.controlType)
                                .prop('id', filter.controlId)
                                .prop('checked', filter.controlDefaultValue ? filter.controlDefaultValue : false);
            
            $filter_group.append($input)
                         .append($label);
           
            return $filter_group;
        }
    };






    var _common_filters = [{
        controlType: 'checkbox',
        controlId: 'all',
        label: 'Ver todos',
        controlDefaultValue: @((Request.Params["all"] != null && Convert.ToBoolean(@Request.Params["all"])).ToString().ToLower())
    }];

    var _filters = [];
    if (globals.filters && globals.filters.include && globals.filters.include.length > 0) {
        var includes = globals.filters.include;
        $(_common_filters).each(function (key, filter) {
            if (includes.indexOf(filter.controlId) > -1) {
                _filters.push(filter);
            }
        });
    }

    if (globals.filters.custom) {
        _filters = _filters.concat(globals.filters.custom);
    }


    /* Render filters */
    $(_filters).each(function (key, elem) {
        var $container = (render[elem.controlType] && render[elem.controlType](elem)) || render['other'](elem);
        $container.addClass('filter')
                  .addClass('group-control-box');

        $container.keyup(function(e){
            if(e.keyCode == 13) {
                updateCurrentState();
                reload();
            }
        });

        $('.filters').append($container);
    });


    if (_filters.length > 0) {
        var $button = $('<input>')
                        .prop('type', 'button')
                        .prop('value', 'Aplicar filtros');
        $('.filters').append($button);
        $button.click(function () {
            updateCurrentState();
            reload();
        });
    }


    /* Defines Current state object */
    if (!current_state) {
        var current_state = {};
    }
    var cp;
    var qs = location.search.split('?')[1];
    if (qs) {
        qs = qs.split('&');
        $(qs).each(function(key, param){
            cp = param.split('=');

            /* Only set params in filters */
            $(_filters).each(function(key, filter){
                if (filter.controlId == cp[0]) {
                    current_state[cp[0]] = cp[1];
                }
            });

        });
    }


    /* Bindings */
    $(function () {
        resizeFiltersForm();

        $(window).resize(resizeFiltersForm);
    });
</script>