<script type="text/javascript">
    $(function () {
        $(".dialog-confirm-delete").dialog({
            resizable: false,
            height: 200,
            modal: true,
            autoOpen: false,
            buttons: {
                "Eliminar": function () {
                    var id = $(this).data('id');
                    confirmDelete(id);
                    $(this).dialog("close");
                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });
    });
    

    function setDataInPopUp($popup, args) {
        $popup.find('.name_to_display').html(args.name_to_display);
        $popup.data('id', args.id);
    }
</script>

<div id="confirmDelete" class="dialogs dialog-confirm-delete" title="Eliminar?" data-id="">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        ¿Realmente desea eliminar <span class="name_to_display"></span>?
    </p>
</div>