@{
    ViewBag.Title = "TermsAndConditions";
}

<h2>Términos y condiciones de uso de Weenty Mobile</h2>
<br />
<b>
    Weenty es una aplicacion de Weenty Mobile SH
    Santa Fe 6358, carapachay, Vicente Lopez, Buenos Aires,
    Argentina Cuit: 23-13995686-9.
</b>
<p>
    1.-Condicion de uso y proteccion de datos. Weenty se caracteriza
    por ofrecer toda la informacion de Comercios o servicios
    que necesitas de una zona. Muchas de las funcionalidades
    de la aplicacion requiere la activacion del GPS de tu dispositivo.
    Si no estas de acuerdo puedes seguir usandola sin el GPS,
    aunque no tendras la informacion de proximidad.
</p>
<p>
    2.-Las funcionalidades para el usuario son Explorar. Rubros
    que listan lugares ordenados por proximidad y con la opcion de filtrar por categorias, etc
    Puedes ver las ofertas, descuentos de los comercios o servicios.
    los precios e informacion de dichos productos relacionado con los comercios o servicios
    es directamente facilitada por el comercio o servicio y nopor Weenty Mobile.
    En este sentido, cualquier cambio o modificacion en las ofertas exclusivas
    esta fuera del control de Weenty Mobile SH.
    En consecuencia, el Usuario reconoce y acepta
    que es el comercioo servicio elprincipal responsable
    de la informacion facilitada, con lo que Weenty Mobile SH
    declina cualquier responsabilidad
    en relacion a cualquier incidencia o situacion
    que pudiera afectar al Usuario con motivo
    de dicha informacion. Informacion meteorologica de la zona.Servicios,
    informacion de interes de la zona. La informacion de contacto de los comercios o servicios
    se guardan en el dispositivo movil y en un servidor
    propiedad de Weenty Mobile. Dikcha informacion es utilizada para gestionar, mejorar la aplicacion
    y ofrecer la mejor informacion. Tambien podra ser utilizada para facilitar
    las actualizaciones de la aplicacion.
    Weenty Mobile SH no comparte tus datos con terceros. La aplicacion utiliza notificaciones para avisar
    alusuario de nuevos servicios y recomendaciones. El usuario acepta que le sean enviados dichas notificaciones
    a su dispositivo movil, pudiendo desactivar en su perfil dichas notificaciones.
    Alcance de la Licencia. La instalacion y uso de la aplicacion Weenty implica la aceptacion de todas las
    condiciones y terminos de esta Licencia de uso.
    Weenty Mobile SH otorgas alusuario un derecho no exclusivo e instransferible a instalar y usar la aplicacion Weenty en un solko dispositivo.
    El usuario tiene derecho a utilizar el programa  y efectuaR
    una copia de seguridad Bajo ningun concepto el usuario podra acceder al codigo fuente de la aplicacion. Efectuar modificaciones, alteraciones, nuevas versiones, programas derivados, o in
    incluir la aplicacion en otras aplicaciones - Reproducirlo, hacer copias ademas de la copia de seguridad ya indicada, divulgarlo o distribuirlo
    (por ejemplo en una red para ser utilizada por otros dispositivos), ya sea con la finalidad comercial o no.
    - Llevar acabo operaciones de ingenieria inversa, descompilar o desamblar- Ceder la aplicacion o darla en prestamo
    sublicenciarla, alquilarla, arrendarla o efectuar cualquier otro acto que suponga una cesion  o transmision
    temporal o indefinida de la aplicacion, ya sea, onerosa o gratuita. -Realizar actos que supongan, directa o indirectamente, una explotacion economica de la aplicacion. - Realizar cualquier otro
    acto o contrato noincluidoen los apartados anteriores que no
    implique la exclusiva y unica satisfaccion de sus necesidades como uasuario.
</p>
<p>
    3.-  Propiedad intelectual e industrial y derechos de explotacion economica del programa. Esta aplicacion (textos, imagenes, marcas, audio, video
    combinacion de colores, estructura, seleccion y orden de sus contenidos) juntamente con toda su documentacion
    e informacion corresponde unica y exclusivamente a Weenty Mobile SH. Todos los derechos de propiedad intelectual
    industrialy, especialmente, los derechos de explotacion economica del programa son titularidad exclusiva de
    Weenty Mobile SH.
</p>
<p>
    4.- Garantia.
    Weenty Mobile garantiza el funcionamiento del programa de conformidad con su descripcion tecnica y en los equipos, sistemas operativos
    y , en su caso, en aquellas aplicaciones cuya compatibilidad e interoperabilidad con el programa licenciado
    haya sido expresamente reconocida en lapropia aplicacion o bien en instrucciones o comunicaciones dirigidas al usuario
    El usuario sera responsable de comprobar que la aplicacion es compatible con su dispositivo,
    por lo que asume los daños que la utilizacion de la aplicacion, incluida su instalacion, pudiera ocacionar
    en el dispositivo.
</p>
<p>
    5.- Responsabilidad de Weenty Mobile SH , no responde de la verdad, integridad o actualizacion de las informaciones
    que no sean de elaboracion propiay de las que se indiquen de otras fuentes, asi como tampoco de las contenidas
    en otros websites o aplicaciones, mediante hiperenlace o vinculo desde la aplicacion.
</p>
<p>
    6.- Modificacion. Weenty Mobile SH , se reserva el derecho a modificar, en forma parcial o total, las presentes Condiciones, asi como incluir
    otras nuevas, previa comunicacion al Usuario, a traves del Dispositivo, con caracter previo
    a la correspondiente descarga.Las nuevas Condiciones se entenderan aceptadas por el usuario una vez efectuada la correspondiente descarga.
</p>
<p>
    7.- Resolucion de la Licencia. Lapresente Licencia podra ser resuelta con efectos inmediatos por laempresa licenciante.
    licenciante, si el Usuario vulnera cualquiera de las prohibiciones y obligaciones previstas en lalicencia.
    El presentecontrato se regira por lalegislacion Argentina. Para laresolucion de cualquier discrepancia que pudiera surgir en la interpretacion
    y/o ejecucion de esta licencia, las partes se someten a la jurisdiccion y competencia de los Tribunales de Buenos Aires.

</p>





